body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.wrapper-flex {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  flex: 1;
}

.header {
  background-color: gold;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sketch-window {
  display: flex;
  background-color: rgb(255, 245, 191);
  flex: 1;
}

#play-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}

div.grid-tile {
  border: 1px solid black;
}

div.grid-tile:hover {
  background-color: rgb(216, 184, 0)
}