body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.header {
  background-color: gold;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sketch-window {
  background-color: rgb(255, 245, 191);
  flex: 1;
}